<div class="container-inicio-sesion">
    <img src="../../../assets/images/logo.png" alt="logo" class="logo">
    <h1>SAV</h1>
    <div class="panel-iniciar">
        <h3>Iniciar sesion</h3>
        <input class="input-email" type="text" placeholder="Email">
        <input class="input-password" type="text" placeholder="Password">
        <select class="input-tipo">Tipo<i class="fa-solid fa-caret-down"></i>
            <option selected>Conductor</option>
            <option>Gerente</option>
            <option>Admin</option>
        </select>
        <a routerLink="/inicio" class="btn-iniciar"  >INICIAR</a>
    </div>
    <a class="btn-register" routerLink="/register" >Registrarse</a>
</div>

<app-via></app-via>