<div class="container-inicio-sesion">
    <img src="../../../assets/images/logo.png" alt="logo" class="logo">
    <h1>SAV</h1>
    <div class="panel-iniciar">
        <h3>Iniciar sesion</h3>
        <input [(ngModel)]="email" class="input-email" type="text" placeholder="Email">
        <input [(ngModel)]="password" class="input-password" type="password" placeholder="Password">
        <select [(ngModel)]="rol" class="input-tipo">Tipo<i class="fa-solid fa-caret-down"></i>
            <option [ngValue]="'conductor'" >Conductor</option>
            <option [ngValue]="'gerente'" >Gerente</option>
            <option  [ngValue]="'admin'" >Admin</option>
        </select>
        <button (click)="iniciarSesion()" class="btn-iniciar"  >INICIAR</button>
    </div>
    <a class="btn-register" routerLink="/register">Registrarse</a>
    
</div>

