<div class="container-inicio-sesion">
    <img src="../../../assets/images/logo.png" alt="logo" class="logo">
    <h1>SAV</h1>
    <form class="panel-iniciar" [formGroup]="fgValidacion" errorTailor>
        <h3>Iniciar sesion</h3>
        <label for="email"  class="container-inp">
            <input formControlName="email" class="input-email" id="email" type="email" placeholder="Email" controlErrorsClass="my-class other-class">
        </label>
        <label for="password" class="container-inp">
            <input formControlName="password" id="password" class="input-password" type="password" placeholder="Password" [controlErrorsTpl]="errorPassword">
        </label>
        <div class="container-inp">
            <select formControlName="rol" class="input-tipo">Tipo<i class="fa-solid fa-caret-down"></i>
                <option value="conductor" >Conductor</option>
                <option value="gerente" >Gerente</option>
                <option  value="admin" >Admin</option>
            </select>
        </div>
        
        <button (click)="iniciarSesion()" class="btn-iniciar"  >INICIAR</button>
    </form>
    <a class="btn-register" routerLink="/register">Registrarse</a>
<div>
</div>    
</div>

<ng-template let-error let-text="text" #errorPassword>
<div *ngIf="error?.minlength" class="errorPassword">
    <p>No cumples con los caracteres minimos, actual: {{error.minlength.actualLength }} requeridos: {{error.minlength.requiredLength}} </p>
</div>
</ng-template>



