<div #asCrearConductor class="container-crear-conductor">
  <div class="panel-iniciar">
    <form autocomplete="off">
      <h3>Crear conductor</h3>
      <input
        [(ngModel)]="cedula"
        [ngModelOptions]="{ standalone: true }"
        type="email"
        placeholder="Cedula"
      />
      <input
        [(ngModel)]="nombre_apellido"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        placeholder="Nombre apellido"
      />
      <input
        [(ngModel)]="licencia"
        [ngModelOptions]="{ standalone: true }"
        type="text"
        placeholder="N. Licencia"
      />
      <select  ngModel="categoria">
          <option selected ngValue="A4">A4</option>
          <option ngValue="B4">B4</option>
          <option  ngValue="A1">A1</option>
          <option ngValue="B4">B4</option>
      </select>
      <div class="container-fechas">
        <label for="fecha_exp">
          Fecha Exp
          <input
            [(ngModel)]="licencia_exp"
            [ngModelOptions]="{ standalone: true }"
            type="date"
            id="fecha_exp"
            class="inputs-fechas"
          />
        </label>

        <label for="fecha_venc">
          Fecha Venc
          <input
            [(ngModel)]="id_usuarios"
            [ngModelOptions]="{ standalone: true }"
            type="date"
            id="fecha_venc"
            class="inputs-fechas"
          />
        </label>
      </div>
      <button class="btn-registrarse">CREAR</button>
    </form>
  </div>
  <button class="btn-cerrar" (click)="cerrarPanel()">Cerrar</button>
</div>
