<div #asCrearConductor class="container-crear-conductor">
  <div class="panel-iniciar">
    <form
      autocomplete="off"
      [formGroup]="fgValidacion"
      enctype="multipart/form-data"
      errorTailor
    >
      <h3>Crear gerente</h3>
      <div class="container-inputs">
        <label class="label-input" for="">
          <input formControlName="cedula" type="text" placeholder="Cedula" />
        </label>

        <label for="" class="label-input">
          <input
            formControlName="nombre_apellido"
            type="text"
            placeholder="Nombre apellido"
          />
        </label>
        <label for="" class="label-input">
          <input form="email" type="email" formControlName="email" placeholder="Email" />
        </label>
        <label for="" class="label-input">
          <input
            formControlName="licencia"
            type="text"
            placeholder="N. Licencia"
          />
        </label>
        <label for="" class="label-input" class="label-input">
          <select
            type="text"
            formControlName="categoria"
            placeholder="Categoria"
          >
          <option value="A2">A2</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="B3">B3</option>
          <option value="C1">C1</option>
        </select>
        </label>
        <label for="" class="label-input">
          <input
            type="file"
            (change)="capturaPdf($event)"
            placeholder="Categoria"
            accept="file/*,.pdf"
          />
        </label>
        <div class="container-fechas">
          <label for="fecha_exp">
            Fecha Exp
            <input
              formControlName="licencia_exp"
              type="date"
              id="fecha_exp"
              class="inputs-fechas"
            />
          </label>

          <label for="fecha_venc">
            Fecha Venc
            <input
              formControlName="licencia_venc"
              type="date"
              id="fecha_venc"
              class="inputs-fechas"
            />
          </label>
        </div>
        <label for="" class="label-input">
          <input
            formControlName="password"
            type="text"
            placeholder="Password"
            [controlErrorsTpl]="errorPassword"
          />
        </label>
        <label for=""  class="label-input">
          <input
            formControlName="passwordRepetida"
            type="text"
            placeholder="Repetir password"
          />
        </label>
      </div>
      <button class="btn-registrarse" (click)="crearConductor()">CREAR</button>
    </form>
  </div>
  <button class="btn-cerrar" (click)="cerrarPanel()">Cerrar</button>
</div>


<ng-template let-error let-text="text" #errorPassword>
  <div *ngIf="error?.minlength" class="errorPassword">
    <p>
      No cumples con los caracteres minimos, actual:
      <span class="valor-actual-error">{{ error.minlength.actualLength }}</span>.
       requeridos: <span class="valor-actual-error">{{ error.minlength.requiredLength }}</span>.
    </p>
  </div>
  <div *ngIf="error?.pattern" class="errorPassword">
    <p>
      Se requiere minimo un caracter en maysculas y uno en minusculas Actual:
      <span class="valor-actual-error">{{ error?.pattern.actualValue }}</span>. 
    </p>
  </div>