.sesion{
    display: none;
}

.panel-nav{
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 60px;
    position: relative;
    z-index: 100;
    width: 100%;
    box-shadow: 0px 2px 2px #26262663;

}

.nombre-usuario{
    color: #fff;
}

.activo{
    border-bottom: 4px solid #F9A825;
    color: #F9A825;

}

.logo{
    width: 60px;
    height: 60px;
}

.panel-final{
    justify-self: flex-end;
}

.header{
    height: 100%;
    display: inline-block;
}
nav{
    height: 100%;
}

ul{
    display: flex;
    list-style: none;
    height: 100%;
}
.panel-btn-admin{
    
    display: flex;
    list-style: none;
    height: 100%;
}


li{
   width: 110px; 
   height: 100%;
   text-align: center;
}
li a{
    color: #fff;
    text-align: center;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}
.panel-final{
    display: flex;
}
.panel-final a{
    background-color: #F9A825;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 5px;
}

.btn-cerrar-sesion{
    cursor: pointer;
    border-radius: 40%;
    border: none;
    background-color: #F9A825;
    margin-left: 10px;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

.btn-cuenta, .btn-cerrar-sesion {
    width: 30px;
}


