<div class="container-conductor">
    <div class="panel-opciones">
      <div class="panel-btn">
        <button #asButton class="btn-crear" (click)="abrirCrear()">Crear</button>
      </div>
      <div>
        <input class="filter-input" placeholder="Filtrar:"  autocomplete="on" type="text">
      </div>
    </div>
    <table class="tabla">
      <thead>
        <tr>
          <th>Placa</th>
          <th>Sede</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Color</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="tabla-contenido"
          *ngFor="
            let vehiculo of vehiculos
              | paginate : { itemsPerPage: 8, currentPage: p } |  filter:searchText"  
        >
          <td>{{ vehiculo.placa }}</td>
          <td>{{ vehiculo.sede }}</td>
          <td>{{ vehiculo.marca }}</td>
          <td>{{ vehiculo.modelo }}</td>
          <td>{{ vehiculo.color }}</td>
          <td class="acciones">
            <button class="btn-acciones btn-eliminar">Eliminar</button
            ><button class="btn-acciones btn-editar">Editar</button
            ><button class="btn-acciones btn-detalles">Detalles</button>
          </td>
        </tr>
  
        <pagination-controls
          class="paginacion"
          (pageChange)="p = $event"
          nextLabel="Next"
          previousLabel="Previous"
          screenReaderPaginationLabel="Pagination"
          [maxSize]= "10"
        ></pagination-controls>
      </tbody>
    </table>
  </div>
   <div *ngIf="activarCrear == true">
    <app-crear></app-crear>
  </div>
 