<div class="container-register">
    <div class="panel-iniciar">
        <h3>Registrarse</h3>
        <input class="input-password" type="text" placeholder="Nombre Apellido">
        <input class="input-email" type="text" placeholder="Email">
        <input class="input-password" type="text" placeholder="Telefono">
        <input class="input-password" type="text" placeholder="Password">
        <div class="input-tipo">Tipo<i class="fa-solid fa-caret-down"></i></div>
        <a routerLink="/inicio" class="btn-iniciar">REGISTRARSE</a>
    </div>
    <a class="btn-register" routerLink="/iniciar-sesion" >Volver</a>
</div>
<app-via></app-via>