<div class="container-register">
  <div class="panel-iniciar">
    <form autocomplete="off">
      <h3>Registrarse</h3>
      <input [(ngModel)]="nombre_apellido" [ngModelOptions]="{standalone: true}"  type="text" placeholder="Nombre Apellido" />
      <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" placeholder="Email" />
      <input [(ngModel)]="telefono" [ngModelOptions]="{standalone: true}" type="text" placeholder="Teléfono" />
      <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" placeholder="Password" />
      <input [(ngModel)]="repetirPassword" [ngModelOptions]="{standalone: true}" type="password" placeholder="Repetir password" />
      
      <button (click)="creaUsuario()" class="btn-registrarse">REGISTRARSE</button>
    </form>
  </div>
  <a class="btn-register" routerLink="/iniciar-sesion">Volver</a>
  
</div>
<app-via></app-via>
