.container-conductor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabla{
    margin-top: 100px;
    min-width: 900px;
    height: 400px;
    border-collapse: collapse;

    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
    border-left: 1px solid #262626;
}

tr{
    text-align: center ;
    border: 1px solid #262626;
}

th{
    text-align: center;
    background-color: #F9A825;
   
}

.acciones{
    background-color: #262626;
}