<div class="container-conductor">
  <div class="panel-opciones">
    <div class="panel-btn">
      <button #asButton class="btn-crear" (click)="abrirCrear()">Crear</button>
    </div>
    <div>
      <input class="filter-input" placeholder="Filtrar:"  [(ngModel)]="searchText" autocomplete="on" type="text">
    </div>
    <div #asEstado class="contador-estado">Vencidas: {{ contador }}</div>
  </div>
  <table class="tabla">
    <thead>
      <tr>
        <th>Cedula</th>
        <th>Nombre apellido</th>
        <th>Licencia</th>
        <th>Licencia Exp</th>
        <th>Licencia Venc</th>
        <th>Estado</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="tabla-contenido"
        *ngFor="
          let conductor of conductores
            | paginate : { itemsPerPage: 8, currentPage: p } |  filter:searchText"  
      >
        <td>{{ conductor.cedula }}</td>
        <td>{{ conductor.nombre_apellido }}</td>
        <td>{{ conductor.licencia }}</td>
        <td>{{ conductor.licencia_exp }}</td>
        <td>{{ conductor.licencia_venc }}</td>
        <td *ngIf="conductor.estado == 0">vencida</td>
        <td *ngIf="conductor.estado == 1">activa</td>
        <td>{{ conductor.categoria }}</td>
        <td class="acciones">
          <button class="btn-acciones btn-eliminar" (click)="eliminandoConductor(conductor)">Eliminar</button
          ><button class="btn-acciones btn-editar"(click)="abrirEditar(conductor.id_conductor)" >Editar</button
          ><button class="btn-acciones btn-detalles" (click)="abrirDetalles(conductor.id_conductor)">Detalles</button>
        </td>
      </tr>

      <pagination-controls
        class="paginacion"
        (pageChange)="p = $event"
        nextLabel="Next"
        previousLabel="Previous"
        screenReaderPaginationLabel="Pagination"
        [maxSize]= "10"
      ></pagination-controls>
    </tbody>
  </table>
</div>
<div *ngIf="activarCrear == true">
  <app-crear></app-crear>
</div>
<div *ngIf="activarDetalles == true">
  <app-detalles [idConductor]="idEnv"></app-detalles>
</div>
<div *ngIf="activarEditar == true">
  <app-editar [idConductor]="idEnv"></app-editar>
</div>