.container-crear-conductor{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.243);
}



.logo{
    width: 180px;
    margin-bottom: 20px;
}

h1{
    letter-spacing: 10px;
}
.panel-iniciar{
    background-color: #262626;
    width: 700px;
    min-height: 350px;
    margin-top: 80px ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.477);
}
form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

h3{
    align-self: flex-start;
    color: #fff;
    margin-bottom: 30px;
    
}

.panel-iniciar > h3{
    color: #fff;
}

.container-fechas{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
label{
    color: #fff;
    display: flex;
    flex-direction: column;
}
.inputs-fechas{
    width: 150px;
}

.container-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    width: 40%;
    height: 30px;
    outline: none;
    color: #fff;
    margin: 15px 5px;

  
}



select{
    width: 100%;
    height: 30px;
    background-color: #262626;
    color: #fff;

}

.input-tipo{
    width: 100%;
    color: #fff;
    border-bottom: 2px solid #fff;
    background-color: #262626;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    outline: none;
    height: 30px;
    
}

.btn-registrarse{
    width: 95%;
    height: 40px;
    border: none;
    background-color: #F9A825;
    border-radius: 5px;
    color: #262626;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: 800;
    cursor: pointer;

}
.btn-iniciar:hover{
    background-color: #f8c87b;

}

.btn-cerrar{
    background-color: #3B6CFF;
    margin-top: 10px;
    width: 80px;
    height: 30px;
    font-weight: 800;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor:pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.477);
}
.btn-cerrar:hover{
    background-color: #6f93fe;
}
