<div #asCrearConductor class="container-crear-conductor">
    <div class="panel-iniciar">
      <form autocomplete="off" [formGroup]="fgValidacion" enctype="multipart/form-data">
        <h3>Editar conductor</h3>
        <div class="container-inputs">
        <input
          formControlName="cedula"
          type="text"
          placeholder="Cedula"
        />
        <input
          formControlName="nombre_apellido"
          type="text"
          placeholder="Nombre apellido"
        />
        <input
          formControlName="email"
          type="email"
          placeholder="Email"
        />
        <input
          formControlName="licencia"
          type="text"
          placeholder="N. Licencia"
        />
        <input
          type="text"
          formControlName="categoria"
          placeholder="Categoria"
        />
        <input
          type="file"
          (change)="capturaPdf($event)"
          placeholder="Categoria"
          accept="file/*,.pdf"
        />
        <div class="container-fechas">
          <label for="fecha_exp">
            Fecha Exp
            <input
              formControlName="licencia_exp"
  
              type="date"
              id="fecha_exp"
              class="inputs-fechas"
            />
          </label>
  
          <label for="fecha_venc">
            Fecha Venc
            <input
              formControlName="licencia_venc"
  
              type="date"
              id="fecha_venc"
              class="inputs-fechas"
            />
          </label>
        </div>
      </div>
        <button class="btn-registrarse" (click)="actualizandoConductor()">CREAR</button>
      </form>
    </div>
    <button class="btn-cerrar" (click)="cerrarPanel()">Cerrar</button>
  </div>
  